html { font-size: 15px;
}

body {
  font-family: serif;
  background: white;
  font-color: black;
  text-align: center;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-caption {
  margin: 15px 0 5px 0;
}

#headline {
  margin: 50px 0;
  text-align: center;